/* 共通スタイル（すべての画面サイズに適用） */
.card__img img {
    width: 100%;
    max-height: 200px;
}

.card__content {
    padding: 15px 25px;
}

.card__content-ttl {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}

.card__content-tag {
    padding: 5px 10px;
    background: #008888;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.card__content-tag-item {
    display: inline-block;
    color: #008888;
}

.card__content-description {
    font-size: 14px;
    margin-top: 15px;
}

.card__content-link {
    display: block;
    text-align: right;
    color: #008888;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.heart-button1 {
    display: inline-block;
    background: none;
    border: none;
    color: #ff0000;
    /* ハートの色を赤に設定（任意の色に変更可能） */
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    /* ハートボタンと詳しく見るリンクの間にマージンを追加 */
}

.heart-button2 {
    display: inline-block;
    background: none;
    border: none;
    color: blue;
    /* ハートの色を赤に設定（任意の色に変更可能） */
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    /* ハートボタンと詳しく見るリンクの間にマージンを追加 */
}

/* デスクトップ向けスタイル */
@media (min-width: 769px) {
    .shop-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .shop-item {
        width: 300px;
        margin: 0 20px 20px 0;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }

    .card {
        width: 300px;
        margin: 0 20px 20px 0;
    }
}

/* タブレット向けスタイル */
@media (max-width: 768px) {
    .shop-item {
        width: 48%;
        margin: 0 1% 20px 1%;
    }

    .card {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

/* スマートフォン向けスタイル */
@media (max-width: 480px) {
    .shop-item {
        width: 100%;
        margin: 0 0 20px 0;
    }
}