.header {
    background-color: green;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;

}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form .form-group {
    margin-right: 10px;
}