body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: green;
    padding: 10px 0;
}

.header__inner {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-utilities {
    display: flex;
    align-items: center;
    flex-grow: 1; /* ロゴとナビゲーションの間の余白を調整 */
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav__item {
    margin-right: 20px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.search-form .form-group {
    display: inline-block;

    margin-right: 10px;

}

.search-form button {
    width: auto;

}

/* スマートフォン向けスタイル */
@media screen and (max-width: 480px) {
    .header__inner {
        padding: 20px 10px;
    }

    .header__logo {
        font-size: 20px;
    }

    .search-form {
        flex-direction: column;
        align-items: stretch;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .header-nav {
        flex-direction: column;
        align-items: stretch;
    }

    .header-nav__item {
        margin-bottom: 10px;
    }
}

/* タブレット向けスタイル */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .header__logo {
        font-size: 24px;
    }

    .header-nav__button {
        font-size: 14px;
    }
}