/* 共通のスタイル */
.container {
    padding: 20px;
    display: flex;

}

.row {
    display: flex;
    width: 45%;
}

.card {
    flex: 1;
    margin: 0 10px;
}

.card-left {
    background-color: #008888;
    /* ブルーの背景色を設定 */
    color: #fff;
    /* 白色のテキストカラーを設定 */
    text-align: center;
    /* テキストを中央に配置 */
}

.card-header {
    background-color: #008888;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.card-row {
    display: flex;
    flex-direction: column;
    /* 子要素を縦に並べる */
    align-items: center;
    /* 子要素を中央に配置 */
    padding: 20px;
    /* 余白を設定 */

}

.card-body ul {
    list-style: none;
    padding: 0;
}

.card-body li {
    margin-bottom: 10px;
}

.shop-list {
    padding: 0;
    display: flex;
}

.shop-item {
    margin-bottom: 20px;
}

.card__img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.card__content {
    padding: 10px;
}

.card__content-ttl {
    font-size: 20px;
    margin: 10px 0;
}

.card__content-tag {
    font-size: 16px;
    margin: 5px 0;
}

.heart-button {
    background: none;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
}

.card__content-link {
    text-decoration: none;
    background-color: #008888;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.card-left,
.card-right {
    flex: 1;
    margin: 0 10px;
}

/* 既存のCSSスタイルを追加 */

/* レスポンシブスタイル */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 0 0 20px;
    }

    .card-left,
    .card-right {
        width: 100%;

    }
}